body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  cursor: url('../img/hand.svg'), default;
  font-family: 'Baloo Paaji 2', cursive;
  background-color: #96B3A9;
}

.game-board {
  position: relative;
  /*border: 2px solid gray;*/
  background-color: lavenderblush;
  height: 500px;
  width: 500px;
  box-shadow: 0px 0px 8px 2px #80787A;
  border-radius: 8px;
}

.game-board--top-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid gray;
  height: 10%;
}

#game-title {
  font-family: 'Pacifico', cursive;
}

button {
  font-family: 'Baloo Paaji 2', cursive;
  font-weight: bold;
  background-color: #FFFFFF;
  opacity: 0.7;
  border: none;
  border-radius: 8px;
  padding: 4px 8px;
}

button:hover {
  cursor: pointer;
  box-shadow: -2px 2px;
}

button:focus {
  outline: 0;
}

#timer {
  font-family: 'Pacifico', cursive;
  font-size: 22px;
}

#timer span{
  font-family: 'Fira Mono', monospace;
}

.playing-field-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playing-field {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
}

.instructions, .game-over, .level-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  opacity: 0.8;
  border: 1px solid black;
  width: 80%;
  height: 80%;
  padding: 10px;
  overflow: auto;
  position: relative;
  z-index: 5;
}

.instructions h3, .game-over h3, .level-over h3 {
  margin-top: 2px;
  margin-bottom: 5px;
  font-family: 'Pacifico', cursive;
}

.instructions h4, .game-over h4, .level-over h4 {
  margin: 8px;
  font-family: 'Pacifico', cursive;
}

.instructions p, .game-over p, .level-over p{
  margin: 2px;
}

.game-over {
  display: none;
}

.level-over {
  display: none;
}

.hole-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hole {
  position: absolute;
  bottom: 18%;
  overflow: hidden;
  z-index: 1;
}

.bunny {
  position: absolute;
  bottom: 20%;
  overflow: hidden;
  z-index: 2;
  height: 60px;
  width: 60px;
}

.snake {
  position: absolute;
  bottom: 18%;
  overflow: hidden;
  z-index: 3;
  height: 60px;
  width: 60px;
}

.clicked {
  display: none;
}

.game-board--bottom-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid gray;
  height: 10%;
  font-family: 'Pacifico', cursive;
  font-size: 22px;
  position: relative;
}

.banner {
  z-index: 5;
  position: absolute;
  bottom: 10px;
  background-color: #FFFCD6;
  border-radius: 8px;
  border: 1px solid gray;
  width: 75%;
  text-align: center;
  display: none;
}

.banner h5 {
  margin: 0 0;
}

@media screen and (max-width: 500px) {
  .hole {
    height: 20px;
    width: 65px;
  }
  
  .bunny {
    height: 50px;
    width: 50px;
  }

  .snake {
    height: 50px;
    width: 50px;
  }

  #game-title h2 {
    font-size: 15px;
  }

  #timer, #score, #level {
  font-size: 15px;
}

}